anyascii==0.3.2
appnope==0.1.3
asgiref==3.7.2
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.11.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.1.0
cryptography==41.0.3
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.4
django-allauth==0.55.2
django-filter==23.2
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.12.2
filetype==1.2.0
fonttools==4.42.1
gunicorn==21.2.0
html5lib==1.1
idna==3.4
importlib-resources==6.0.1
ipython==8.14.0
jedi==0.19.0
kiwisolver==1.4.5
l18n==2021.3
matplotlib-inline==0.1.6
mpmath==1.3.0
mysql==0.0.3
mysqlclient==2.2.0
numpy==1.25.2
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pillow-heif==0.13.0
platformdirs==3.9.1
prompt-toolkit==3.0.39
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
PyJWT==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
scipy==1.11.2
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
sympy==1.12
telepath==0.3.1
traitlets==5.9.0
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.1
wagtail==5.1.1
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.5.0
Willow==1.6.1
zipp==3.16.2
